<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django girls blog</title>
</head>
<body>
  <div>
    <h1><a href="/">Django Girls Blog</a></h1>
  </div>
  <div>
    <p>published: 22.02.2020, 00:00</p>
    <h2><a href="">My first post</a></h2>
    <p>こんにちは。よろしくお願いします。</p>
  </div>
  <div>
    <p>公開日：2020/02/22, 00:00</p>
    <h2><a href="">２番目の投稿</a></h2>
    <p>こんにちは！よろしくお願いします！</p>
  </div>
</body>
</html>